<div class="main-background">
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "main1.jpg" %>
        </div>
        <div class="item">
          <%= image_tag "main2.jpg" %>
        </div>
        <div class="item">
         <%= image_tag "main4.jpg" %>
        </div>
      </div>
    </div><!-- /.carousel -->
    <div class="inner cover">
            <h1 class="cover-heading">5Cyber Clinic</h1>
            <p class="lead">5CC(=5 Cyber Clinic)팀은 ① 사이버 중독 ② 언어폭력 사용 ③ 지식 재산권 침해 ④ 개인정보 침해 ⑤ 사이버 성폭력 총 5가지 사이버 상의 문제를 치료하는 진료소가 되겠다는 뜻을 담고 있습니다. 컴퓨터공학도의 IT지식과 산업경영공학도의 마케팅 열정이 만나 컨버젼스를 이루는 5CC팀은 시간과 공간의 장벽을 허무는 통합형 네트워크 마케터로서, 틀을 깨는 도전의식과 열정으로 이루어진 뛰어난 팀워크를 갖고 있습니다. 총 5명의 팀원으로 꼭 돈을 지불하고 영화나 노래를 다운로드 저작권 보호 경호원 박소현, 사이버 성폭력 없는 세상을 꿈꾸는 낭만 닥터 김수경, 비밀번호는 무조건 15자 이상으로 하는 화이트 해커 김지수, 과거에 사이버 중독자가 알려주는 힐링셰프 남궁재훈, 한 번도 비속어를 사용해 본적이 없다는 바른말 전도사 정연훈이 있습니다.</p>

            <p>
                <%= link_to '5CC Naver Blog', 'http://blog.naver.com/purplequartz', class: "btn btn btn-success" %>
            </p>
            
            <p>
                <%= link_to '5CC FaceBook', 'https://m.facebook.com/5CyberClinic-437223939978560/?notif_t=page_admin&notif_id=1493215725731691', class: "btn btn btn-success" %>
            </p>
            
            <p>    
                <%= link_to '5CC Instagram', 'http://instagram.com/nia_5cc', class: "btn btn btn-success" %>
            </p>
 
    </div>
  </div>
</div>