<div class="container">
  <div class="row", style="margin-top: 80px">
    <div class="col-lg-4">
      <%= image_tag 'member.jpeg', class: 'img-circle', width: '140', height: '140' %>
      <h2>남궁재훈</h2>
      <p>1994.07.03</p>
      <p> 명지대학교 산업경영공학과 3학년 재학</p>
      <p> 산업경영공학과 35대 살아있네 학생회 기획 홍보 부원 (13.03 ~ 13.12)</p>
      <p> 산업경영공학과 37대 몬스터 학생회 체육부 차장 (15.03 ~ 15.12)</p>
      <p> 산업경영공학과 38대 아미고 학생회 기획부 부장 (16.03 ~ 16.12)</p>
      <p> 헤커스 어학원 영어 학원 수업 보조 조교 (16.11 ~ 16.12)</p>
      <p> 명지대학교 2015년 공학입문 설계 경진대회 우수상 수상 (15.09 ~ 15.12)</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag 'member4.jpeg', class: 'img-circle', width: '140', height: '140' %>
      <h2>정연훈</h2>
      <p> 1994.06.14</p>
      <p> 명지대학교 컴퓨터공학과 3학년 재학</p>
      <p> 명지대학교 사회교육원 아르바이트 (16.07 ~ 16.08)</p>
      <p> 창의, 융합인재 양성 프로젝트 명지 Campus Convergence(16.09 ~ 16.1)</p>
      <p> 명지 배움품앗이 프로그램 (16.09 ~ 16.12)</p>
      <p> SK Sunny‘크리에이티브 스쿨’ 커뮤니티 활동(16.09 ~ 16.12)</p>
      <p> EDUnTECH 빅데이터 실무 기초 수료 (17.01 ~ 17.01)</p>
      <p> SK Sunny‘행복한 모바일 세상’ 커뮤니티 활동 (17.03 ~ 현재)</p>
      <p> 명지대학교 컴퓨터공학과 교직과정 이수 (17.03 ~ 현재)</p>
  
    </div>
    <div class="col-lg-4">
     <%= image_tag 'member3.jpeg', class: 'img-circle', width: '140', height: '140' %>
      <h2>김지수</h2>
      <p>1995.09.21</p>
      <p> 명지대학교 산업경영공학과 2학년 재학</p>
      <p> 꽃동네 봉사활동 (12.09 ~ 현재)</p>
      <p> 허벌라이프 아르바이트 (14.12 ~ 15.03)</p>
      <p> 사랑의 몰래 산타 봉사활동 (14.12 ~ 현재)</p>
      <p> 메가스터디 보조 선생님 아르바이트 (15.03 ~ 현재)</p>
      <p> 응원단 Road Master (15.03 ~ 현재)</p>
      <p> 노원구청 대학생 인턴 (15.03 ~ 15.08)</p>
      <p> 김창은 교수님 연규실 (15.03 ~ 현재)</p>
      <p> 꽃동산 태국 단기 봉사활동 (16.07 ~ 16.08)</p>
    </div>

    <div class="col-lg-4">
      <%= image_tag 'member2.jpeg', class: 'img-circle', width: '140', height: '140' %>
      <h2>김수경</h2>
      <p> 1994.02.14</p>
      <p> 명지대학교 컴퓨터공학과 4학년 재학</p>
      <p> 네이버 블로그 운영(놀러와 체험단 맛집 체험 포함) (17.1 ~ 현재)
      <%= link_to '5CC Naver Blog','http://blog.naver.com/purplequartz'%></p>
      <p> 수학학원 보조 선생님 알바 (15.09 ~ 현재)</p>
      <p> 동아리 ‘아이사랑’ 암사재활원, 꿈을 키우는 집에서 봉사활동 및 자활부장 역할 이행(14.03 ~ 현재)</p>
      <p> 스터디 ‘N.E.X.T.'에서 활동 (14.03 ~ 현재)</p>
      <p> 16S/S 시세이도 벚꽃 화이트닝 런칭회 참석 (16.2)</p>
      <p> 16F/W 로엠 설문회 참석 (16.5)</p>
      <p> 16년 12월 바이오 오일 뷰티 클래스 참석 (16.12)</p>
      <p> ‘호빗’,‘스파이’, ‘러브앤머시’, ‘뷰티인사이드’, ‘덕혜옹주’, ‘거울나라의 앨리스’ 등 다수 시사회 참석</p>
      <p> 선인 시스템 인턴쉽 6주 (17.1 ~ 17.2)</p>
      <p> 2018 평창올림픽 자원봉사 교육 대상자 합격 (18.2 예정)</p>
    </div>
    <div class="col-lg-4">
      <%= image_tag 'member5.jpeg', class: 'img-circle', width: '140', height: '140' %>
      <h2>박소현</h2>
      <p>1995.12.28</p>
      <p>명지대학교 컴퓨터공학과 4학년 휴학</p>
      <p>컴퓨터 스터디 동아리 그리고 (14.03 ~ 15.08)</p>
      <p>응원단 Re.exe (14.03 ~ 14.12)</p>
      <p> 영통 구청 대학생 인턴(16.01 ~ 16.02)</p>
      <p> 전굥연계 유럽탐방(16.06 ~ 16.07)</p>
      <p> Sk sunny 학교폭력방지 코딩교육 봉사(16.08 ~ 16.12)</p>
      <p> 장애학생지원센터 근로(16.12 ~ 현재)</p>
    
      </div>
    </div>
  </div>
</div>